{{- $main := resources.Get "js/main.js" | resources.ExecuteAsTemplate "js/main-rendered.js" . -}}
{{- $backToTop := resources.Get "js/back-to-top.js" | resources.ExecuteAsTemplate "js/back-to-top-rendered.js" . -}}
{{- $darkMode := resources.Get "js/dark-mode.js" | resources.ExecuteAsTemplate "js/dark-mode-rendered.js" . -}}
{{- $lang := resources.Get "js/multilingual.js" | resources.ExecuteAsTemplate "js/multilingual-rendered.js" . -}}
{{- $instantClick := resources.Get "js/instantclick.js" | resources.ExecuteAsTemplate "js/instantclick-rendered.js" . -}}
{{- $custom := resources.Get "js/custom.js" | resources.ExecuteAsTemplate "js/custom-rendered.js" . -}}

{{- .Scratch.Set "script" (slice $main) -}}

{{- if .Site.Params.enableBackToTopAutoHide -}}
    {{- .Scratch.Add "script" (slice $backToTop) -}}
{{- end -}}

{{- if .Site.Params.enableDarkMode -}}
    {{- .Scratch.Add "script" (slice $darkMode) -}}
{{- end -}}

{{- if and .Site.IsMultiLingual .Site.Params.enableLangToggle -}}
    {{- .Scratch.Add "script" (slice $lang) -}}
{{- end -}}

{{- if .Site.Params.enableInstantClick -}}
    {{- .Scratch.Add "script" (slice $instantClick) -}}
{{- end -}}

{{- .Scratch.Add "script" (slice $custom) -}}

{{- $path := (strings.TrimPrefix "/" (printf `%s/js/meme.js` .Site.LanguagePrefix)) -}}

{{- if .Site.Params.enableFingerprint -}}
    {{- $script := .Scratch.Get "script" | resources.Concat $path | resources.Minify | resources.Fingerprint -}}
    {{- printf `<script src="%s" integrity="%s" data-no-instant></script>` $script.RelPermalink $script.Data.Integrity | safeHTML -}}
{{- else -}}
    {{- $script := .Scratch.Get "script" | resources.Concat $path | resources.Minify -}}
    {{- printf `<script src="%s" data-no-instant></script>` $script.RelPermalink | safeHTML -}}
{{- end }}

{{ if .Site.Params.enableInstantClick }}
    {{ partial "third-party/instantclick.html" . }}
    {{ partial "custom/instantclick.html" . }}
{{- end -}}

{{ if .Site.Params.enableSmoothScroll }}
    {{ partial "third-party/smooth-scroll.html" . }}
{{ end }}

{{ if .Params.katex | default .Site.Params.enableKaTeX }}
    {{ partial "third-party/katex.html" . }}
{{ end }}

{{ if .Params.mathjax | default .Site.Params.enableMathJax }}
    {{ partial "third-party/mathjax.html" . }}
{{ end }}

{{ if and (.Params.comments | default .Site.Params.enableComments) (eq hugo.Environment "production") }}
    {{ if or (in .Site.Params.mainSections .Section) .Params.comments }}

        {{ if .Site.Params.enableDisqus }}
            {{ partial "third-party/disqus.html" . }}
        {{ end }}

        {{ if .Site.Params.enableValine }}
            {{ partial "third-party/valine.html" . }}
        {{ end }}

        {{ if .Site.Params.enableUtterances }}
            {{ partial "third-party/utterances.html" . }}
        {{ end }}

    {{ end }}
{{ end }}

{{ partial "third-party/service-worker.html" . }}

{{ partial "third-party/busuanzi.html" . }}

{{ partial "custom/script.html" . }}
